
@font-face {
    font-family: SegoeUI;
    src:
            local("Segoe UI"),
            url(font/normal/latest.woff2) format("woff2"),
            url(font/normal/latest.woff) format("woff"),
            url(font/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
            local("Segoe UI Bold"),
            url(font/bold/latest.woff2) format("woff2"),
            url(font/bold/latest.woff) format("woff"),
            url(font/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
            local("Segoe UI Semibold"),
            url(font/semibold/latest.woff2) format("woff2"),
            url(font/semibold/latest.woff) format("woff"),
            url(font/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}